.iphone14pro {
 background-color: black;
}
.iphone14protext {
    color: white;
}
.probeyond {
    color: white;
}
.iphone14 {
    background-color: #fafafa;
}
.applewatch {
    background-color: black;
}
.watch {
    color: white;
}
.applelogo {
    color: white;
}
.series {
    color: maroon;
}
.watchtext {
    color: white;
}
.linklar {
    color: steelblue;
}